
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Have a question?</h1>
    <p>Have a quick question and find googling too boring? Maybe you just want to get some random persons opinion on something?
    This is the place to do it. To get started, press the button below!</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("CreateQuestion", "Question")" role="button">Ask a question</a></p>
</div>